{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

{% block title %}投稿{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>投稿</h1>
    </div>
    <div>
        <form role="form">
            <div class="form-group">
                <label for="name">投稿</label>
                <textarea class="form-control" rows="10" id="name" textholder="分享一件新鲜事"></textarea>
            </div>
            <div class="form-group">
                <label for="inputfile">照片</label>
                <input type="file" id="inputfile">
                <p class="help-block">分享你的新鲜事</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> 匿名投稿
                </label>
            </div>
            <button type="submit" class="btn btn-default">投递</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}