{% extends "bootstrap/base.html" %}

{% block title %}糗事百科{% endblock %}

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}" type="text/css">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse qiu_navbar" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand logo" >
                    <img src="" alt="" id="images">
                </a>
            </div>
            <ul class="nav navbar-nav qiu_top">
                <li ><a class="qiu_top1" href="{{ url_for('main.index') }}">热门</a></li>
                <li ><a class="qiu_top1" href="{{ url_for('main.pic') }}">图片</a></li>
                <li ><a class="qiu_top1" href="{{ url_for('main.textnew') }}">文字</a></li>
                <li ><a class="qiu_top1" href="{{ url_for('main.add') }}">投稿</a></li>
                <li ><a class="qiu_top1" href="{{ url_for('main.pic') }}">小鸡炖蘑菇</a></li>
                <li ><a class="qiu_top1" href="http://www.youliaodao.cn/">问答</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right ">
                {% if current_user.is_authenticated %}
                    <ul class="qiu_navbar_logined">
                        <li><a href="{{ url_for('main.my.articles') }}">{{ current_user.name }}</a></li>
                        <li><a href="{{ url_for('main.index') }}">登出</a></li>
                    </ul>
                {% else %}
                    <li><a class="nav navbar-nav navbar-right btn btn-primary btn-lg login_top" data-toggle="modal"
                           data-target="#myModal" href="{{ url_for('auth.login') }}">登录/注册
                    </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- 悬浮登录框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">使用糗百账号登录</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="recipient-name" placeholder="昵称或邮箱" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="loginkey" placeholder="密码" required/>
                        </div>
                    </form>
                    <a href="{{ url_for('auth.change_password') }}">忘记密码?</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">登录</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        {% block page_content %}
        {% endblock %}
    </div>
{% endblock %}
{% block scripts %}
<script>
    (function () {
        console.log('change the src attribute');
        var test = "../static/logo/" + new Date().getDay()+ ".png";
        var x = document.getElementById("images");
        console.log(test);
        x.setAttribute("src", "../static/logo/" + new Date().getDay()+ ".png");
    })();
</script>
{{ super() }}
{{ moment.include_moment() }}

{% endblock %}



