{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}糗事百科{% endblock %}

{% block page_content %}
<div class="post-tabs">
    <ul class="nav nav-tabs ">
        <li{% if eight_hours %} class="active "{% endif %}><a href="{{ url_for('.imgrank') }}">最热</a></li>
        <li{% if hot %} class="active"{% endif %}><a href="{{ url_for('.pic') }}">最新</a></li>
    </ul>
    {% include '_posts.html' %}
</div>
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}